@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
  /* --primary-color : #b34141; */
  /* --bg-primary: goldenrod; */
  --bg-primary: #c8922F;

  /* --bg-primary:rgb(32, 175, 218); */
  --bg-secondary: #2f3037;
  --black-color: #000000;
  --secondary-color: rgb(214, 225, 235);
  /* --third-color: #0380a7; */
  --third-color: #204a58;
  --table-header:#272727;
  /* --table-header:#333230; */
  --table-row : #F5F7F8;

  /* --gold: #ffb338; */
  --gold: white;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

.container-max{
  max-width: 1580px !important;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  /* font-family: 'Cabin', sans-serif !important; */
  scroll-snap-type: proximity;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar handle */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

.bg-dark {
  background-color: var(--bg-secondary) !important;

}

.text-dark {
  color: black;
}

.bg-light {
  background-color: #d8d8d8;
}

.text-light {
  /* color: #fff; */
  color: #0380a7;
}

.bg-dark-2 {
  background-color: #1d1d1d;
}

.bg-light-2 {
  background-color: #e0e0e0;
}




.heading {

  border-bottom: 1px solid var(--third-color);
  /* width: fit-content; */
  text-align: center;
  padding-bottom: 1rem;

  /* color: #0380a7; */
  color: var(--third-color);
  font-weight: 700;
  margin-bottom: 3rem;

}

/* Hamburger menu */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 1.8em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.1;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}






.button5 {
  height: 27px;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #fff !important;
  font-size: 15px;
  border: none;
  overflow: hidden;
  color: white;


  &:hover {
    border-bottom: 2px solid var(--third-color) !important;
    /* border-top: 2px solid var(--third-color) !important; */


  }

  &:hover a {

    font-weight: bolder;
    color: var(--third-color);
  }

}





.btn-txt {
  /* display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  position: relative; */

  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.7;
  text-transform: uppercase;
  text-shadow: 0 0 15px var(--third-color);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 2%;
    border-radius: 20px;

  }

  &:hover::after {
    width: 100%;
    height: 2px;
    background-color: #fff;

  }

  &:hover {
    opacity: 1;
  }

}


.orderBtn {
  border: none;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #0380a7;
  color: white;

  &:hover {
    background-color: #437180;
  }
}

