/* #signup{
    height: 130vh;
    width: 100%;
    justify-content: center;
   align-items: center;
   flex-direction: column;
  display: flex;
  background: url("https://static.wixstatic.com/media/e1234f_f7714bf4f1fa4cde9ad026ef44a49030~mv2.gif") no-repeat ;
  background-position: center;
 background-size: cover;
 filter: brightness(50%);
 position: relative;
 text-align: center;
    

}
#signup-form{
  
  position: absolute;
  top: 25%;
left: 30%;
  border: 1px solid var(--bg-primary);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 40%;
  color: white;

}



.form-con{

    display: flex;
    flex-direction: column;
   margin-top: 2rem;
    text-align: center;
    justify-content: center;
   
}
.form-con p{
  color: red;
  text-align: start;
  margin-bottom: -20px;
}

input {
  color: white;
    border: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  display: block;
  background-color:#212529;
}


input:focus{
    outline: none;
    border-color: goldenrod;
} */

.myregister{
  padding: 5rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  >.main {
      width: 40%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      /* background-color: #240046; */
    background-color: black;
      max-height: 680px;
      overflow: hidden;
      border-radius: 12px;
      
      box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .form {
     
      display: flex;
     
    
      flex-direction: column;
      gap: 14px;
      padding: 24px;
  }
  
  /*checkbox to switch from sign up to log*/
  #chk {
      display: none;
  }
  
  /*log*/
  .log {
      position: relative;
      width: 100%;
      height: 100%;


  }
  
  .log label {
      margin: 25% 0 5%;
  }
  
  label {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: bold;
      cursor: pointer;
  
      transition: .5s ease-in-out;
  }
  
  .input {
      width: 100%;
      height: 40px;
      background: #e0dede;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 4px;
  }
  
  /*Register*/
  .register {
      height: 100%;
      background: #eee;
      border-radius: 60% / 10%;
      transform: translateY(11%);
      -webkit-transition: .8s ease-in-out;
      transition: .8s ease-in-out;
  }
  
  .register label {
      /* color: #573b8a; */
  color: black;
      text-align: center;
      transform: scale(.6);
  }
  
  #chk:checked~.register {
  
      transform: translateY(112%) !important;
  }
  
  #chk:checked~.register label {
  
      transform: scale(1);
      margin: 10% 0 5%;
  }
  
  #chk:checked~.log label {
  
      transform: scale(.6);
      margin: 5% 0 5%;
  }
  
}

/* Responsive */

@media  screen and (max-width:773px) {

 .myregister{

  >.main{
    width: 90%;
  }
 }
}
