#signup{
    height: 90vh;
    width: 100%;
    justify-content: center;
   align-items: center;
   flex-direction: column;
  display: flex;
    
  >form{
    border: 1px solid var(--bg-primary);
    border-radius: 10px;
    padding: 1rem 2rem;
    width: 40%;

  }
   
}
.lsbtn{
    padding: 0.6rem 1rem;
    background-color: rgb(175, 144, 65); 
    line-height: 1;
    margin-top: 0.5rem;
    box-shadow: inset 0 0 0 0 var(--bg-primary);
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.8s;
   border: none;
  outline: 1px solid white;

}
.lsbtn:hover{
  box-shadow: inset 400px 0 0 0 var(--bg-primary);
}
.form-con{
    display: flex;
    flex-direction: column;
   /* line-height: 4; */
   margin-top: 2rem;
    text-align: center;
    justify-content: center;


   
   
}
.form-con p{
  color: red;
  text-align: start;
  margin-bottom: -20px;
}

.form-controls {
    border: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  display: block;
}


input:focus{
    outline: none;
    border-color: goldenrod;
}
.flname{
  display: flex;
  gap: 20px;
}

/* Responsive */

@media  screen and (max-width:773px) {

  #signup{
  
      >form{
          width: 100%;
          border: none;
          padding: 1rem 2rem;

          .flname{
  
            width: 100%;
            flex-direction: column;
            gap: 2rem;
            
          }
       
  }
  }

}
