#signup{
    height: 130vh;
    width: 100%;
    justify-content: center;
   align-items: center;
   flex-direction: column;
  display: flex;
  background: url("https://static.wixstatic.com/media/e1234f_f7714bf4f1fa4cde9ad026ef44a49030~mv2.gif") no-repeat ;
  background-position: center;
 background-size: cover;
 filter: brightness(50%);
 position: relative;
 text-align: center;
    
 
   
}
#signup-form{
  /* height: 86vh; */
  position: absolute;
  top: 25%;
left: 30%;
  border: 1px solid var(--bg-primary);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 40%;
  color: white;

}



.form-con{

    display: flex;
    flex-direction: column;
   margin-top: 2rem;
    text-align: center;
    justify-content: center;
   
}
.form-con p{
  color: red;
  text-align: start;
  margin-bottom: -20px;
}

input {
  color: white;
    border: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  display: block;
  background-color:#212529;
}


input:focus{
    outline: none;
    border-color: goldenrod;
}

/* Responsive */

@media  screen and (max-width:773px) {

  #signup{
  
      
       
  }

  #signup-form{
    width: 90%;
    border: none;
    left:5%;
    padding: 1rem 2rem;

 
  }

}
