#login{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url("https://static.wixstatic.com/media/e1234f_f7714bf4f1fa4cde9ad026ef44a49030~mv2.gif") no-repeat ;
    background-position: center;
   background-size: cover;
   filter: brightness(50%);
   position: relative;
   text-align: center;

   
}
#login-form{
    width: 40%;
    position: absolute;
    top: 25%;
    left: 30%;
    border: 1px solid var(--bg-primary);
    border-radius: 10px;
    padding: 1rem 2rem;

    color: white;
  
}
/* Responsive  */

@media  screen and (max-width:773px) {

#login{

   
}
#login-form{
   width: 90%;
   left: 5%;
}
}