input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* reset */
.main-otp-form {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(#2d5f6e, black);

    .otp-Form {
        width: 330px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        gap: 20px;
        position: relative;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
        border-radius: 15px;
    }

    .mainHeading {
        font-size: 1.8em;
        color: rgb(15, 15, 15);
        font-weight: 700;
    }

    .otpSubheading {
        font-size: 1em;
        color: black;
        line-height: 17px;
        text-align: center;
    }

    .inputContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .otp-input {
        background-color: rgb(228, 228, 228);
        width: 40px;
        height: 40px;
        text-align: center;
        border: none;
        border-radius: 7px;
        caret-color: rgb(127, 129, 255);
        color: rgb(44, 44, 44);
        outline: none;
        font-weight: 600;
    }

    .otp-input:focus,
    .otp-input:valid {
        background-color: rgba(127, 129, 255, 0.199);
        transition-duration: .3s;
    }

    .verifyButton {
        width: 100%;
        height: 30px;
        border: none;
        background-color: rgb(127, 129, 255);
        color: white;
        font-weight: 600;
        cursor: pointer;
        border-radius: 10px;
        transition-duration: .2s;
    }

    .verifyButton:hover {
        background-color: rgb(144, 145, 255);
        transition-duration: .2s;
    }

    .exitBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        border: none;
        color: black;
        font-size: 1.1em;
        cursor: pointer;
    }

    .resendNote {
        font-size: 0.7em;
        color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .resendBtn {
        background-color: transparent;
        border: none;
        color: rgb(127, 129, 255);
        cursor: pointer;
        font-size: 1.1em;
        font-weight: 700;
    }
}



/* login */

.main-container {
    width: 100vw;
    /* height: 100vh; */
    min-height: 600px;
    /* background: linear-gradient(#0380a7, goldenrod); */
    background-color: var(--secondary-color);
    /* background-color: black; */
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 6rem;

    >.container {
        width: 40%;

        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: var(--secondary-color);
        padding-bottom: 30px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        

        >.google {
            display: flex;
            justify-content: center;
            align-items: center;

            >.google-btn {
                padding: 6px 20px;
                border: 1.5px solid black;
                outline: none;
                background-color: white;
                border-radius: 20px;

                &:hover {
                    background-color: transparent;

                    /* border: none; */
                }
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 26px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0px;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 35px;
    background-color: #eaeaea;
    border-radius: 6px;
    border: 1px solid rgb(62, 46, 177);
}

.input svg {
    margin: 0px 10px;
    font-size: 2rem;

}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    

}

.forgate-password {
    padding-left: 60px;
    margin-top: 27px;
    color: black;
    font-size: 18px;

    >span {
        color: #4c00b4;
        cursor: pointer;
    }
}

.submit-container {
    display: flex;
    gap: 20px;
    margin: 15px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none;

}

.gray {
    background: #EAEAEA;
    color: #676767;
}

.eyesize {
    font-size: 1.6rem !important;
}

@media screen and (max-width:773px) {
    .eyesize {
        font-size: 40px !important;
    }

    .main-container {
        padding-top: 9rem;

        >.container {
            width: 90%;
        }
    }

    .input {
        width: 90%;
    }
}