#checkout {
    padding-top: 100px;
    min-height: 70vh;
    background-color: var(--secondary-color);
    padding-bottom: 80px;
    >.delivery-address {
        display: flex;
        padding-top: 2rem;
        justify-content: center;

        >.top-side {
           width: 30%;
            margin-top: 5rem;
            >.address-card {
                /* width: 80%; */
                position: relative;
                border-radius: 10px;
                padding: 1rem;
                min-width: 60%;
                height: fit-content;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

            }
        }

        >.bottom-side {

            padding: 1rem;
            width: 30%;
            >.heading-edit-profile {
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                /* border-bottom: 2px solid black; */
                margin-bottom: 2rem;
            }

            >form {
              
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        
    }

    >.last-btns {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-around;
    }

}