#payment {

    padding: 6rem 5rem;
    background-color: var(--secondary-color);

    >.top {
        margin-bottom: 2rem;


    }


    >.bottom {
        display: flex;

        >.right {
            flex-basis: 50%;
            gap: 1rem;
            display: flex;
            flex-direction: column;

            >h2 {
                margin-bottom: 2rem;
            }

            >.product-container {
                display: flex;
              
                width: 80%;
                height: 100px;
                border-radius: 10px;
                gap: 1rem;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                
                >iframe {
                    width: 100px;
                    border-radius: 10px;
                    height: 100px;
                }

                >.inner-container {
                    padding: 2px;
                    line-height: 0.3rem;
                }
            }

        }

        >.left {
            flex-basis: 50%;


            >.chosemethod {
                margin-bottom: 5rem;
            }

            >.product-detail {
                padding: 1rem;
                position: relative;
                border-radius: 10px;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                width: 70%;

                >li {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    /* line-height: 1.5rem; */
                }

                >.total-amount {
                    border-top: 0.5px solid gray;
                    padding-top: 10px;
                    font-weight: bolder;
                }
            }

        }
    }

    >.last-btn {
        padding-left: 14rem;
        margin-top: 3rem;
    }
}