#home {
    width: 100%;
    height: 100%;
    /* font-family: 'Ysabeau SC', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .top-bg {
        width: 100%;
        height: 100%;
        opacity: 0.9;
        position: relative;

        >video {
            width: 100%;
            height: 100vh;
            filter: brightness(30%);
            object-fit: cover;
            text-align: center;
        }
    }

    .heading-banner {
        text-align: center;
        position: absolute;
        top: 50%;
        align-self: center;
        /* left: 27%; */
        letter-spacing: 4px;
        width: 100%;
        text-align: center;
        /* color: white; */
        color: var(--bg-primary);
        font-size: 2rem;
        font-weight: 800;



    }


    .second-banner {
        width: 100%;
        max-height: 680px;
        height: fit-content;
        background-color: var(--secondary-color);
        color: var(--secondary-color);
        padding: 2rem;
        margin-top: -7px;

        >.main {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgb(163, 177, 194);
            color: black;

            >.left {
                flex-basis: 50%;
                padding: 1rem;

                >h2 {
                    color: var(--third-color);
                    font-size: 3rem;
                    width: 50%;

                }

                >p {
                    border-top: 1px solid var(--third-color);
                    letter-spacing: 2px;
                    line-height: 2;
                }

            }

            >.right {
                flex-basis: 50%;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                padding: 1rem;
                justify-content: center;

                .box {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    background-color: azure;
                    color: black;
                    padding: 1rem;
                    cursor: pointer;
                    transition: all 0.5s;
                    gap: 10px;


                    >svg {
                        font-size: 4rem;

                    }

                    &:hover {
                        background-color: var(--bg-primary);
                        color: var(--secondary-color);

                        >svg {
                            /* transform: translateY(10px); */
                            animation: handAni 0.2s ease-out 5 alternate;
                        }

                    }
                }
            }
        }
    }


}

@keyframes handAni {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

@media screen and (max-width:773px) {

    #home {
        .heading-banner {
            padding: 0 1rem;
        }

        .second-banner {
            height: fit-content;
            overflow: hidden;


            >.main {
                flex-direction: column;
                padding: 0.3rem;
                border: 3px solid black;
                height: fit-content;

                >.left {
                    flex-basis: 100%;   
                    max-height: 300px;
                    overflow: hidden;

                    >h2 {

                        font-size: 2rem;
                        width: 70%;
                    }

                    >p {
                        letter-spacing: 2px;
                        line-height: 1.5;
                      
    
                    }

                }

                >.right {
                    flex-basis: 100%;
                    justify-content: center;
                    padding: 0.3rem;
                    gap: 0.4rem;

                    .box {
                        width: 40%;
                        max-height: 100%;

                        >h3 {
                            font-size: 1.3rem;
                        }

                    }
                }
            }
        }

    }
}

@media screen and (max-width:960px) {

    #home {


        .second-banner {



            >.main {

                >.right {

                    .box {
                        min-width: 100px;
                        max-height: 130px;

                        >h3 {
                            font-size: 1.3rem;
                        }

                    }
                }
            }
        }

    }
}