.content-admin {
    margin-top: 60px;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 2rem;
    /* margin-left: 28%; */
}

.adminaddbtn {

    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 175px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;

    margin-top: 2rem;

    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;


    .button,
    .button__icon,
    .button__text {
        transition: all 0.3s;
    }

    >.button__text {
        transform: translateX(25px);
        color: var(--font-color);
        font-weight: 600;
    }

    >.button__icon {
        position: absolute;
        transform: translateX(130px);
        height: 100%;
        width: 39px;
        background-color: var(--bg-color-sub);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bg-primary);
    }

    >.svg {
        width: 20px;
        stroke: var(--main-color);
    }

    &:hover {
        background: var(--bg-color);
    }

    &:hover .button__text {
        color: transparent;
    }

    &:hover .button__icon {
        width: 170px;
        transform: translateX(0);
    }

    &:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px var(--main-color);
    }

}

/* btn end  */

#addDiamond {
    display: flex;
    justify-content: center;
    align-items: center;

    >h2 {
        text-align: center;
        color: var(--third-color);
        border-bottom: 1px solid var(--third-color);
        margin-bottom: 2rem;
    }

    >form {
       justify-content: center;
       display: flex;
       flex-direction: column;
       align-items: center;

        >.all-controls {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            >.form-con {
                display: flex;
                flex-direction: column;
                width: 220px;

                >span {
                    color: rgb(27, 26, 26);
                    font-weight: 600;
                }

                .ctinput {
                    max-width: 200px !important;
                    margin-right: 5px;
                }

                >input[type="file"]{
                    border: 1.5px solid lightgrey;
                    background-color: white;

                    &::-webkit-file-upload-button{
                       background-color: var(--secondary-color);
                       border-radius: 10px;
                      border: 1.5px solid lightblue;
                     
                    }
                }

                >input,
                .ctinput,
                >select {
                    width: 100%;
                    max-width: 220px;
                    height: 45px;
                    padding: 12px;
                    border-radius: 12px;
                    border: 1.5px solid lightgrey;
                    outline: none;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                    box-shadow: 0px 0px 20px -18px;


                    &:hover {
                        border: 1.5px solid lightgrey;
                        box-shadow: 0px 0px 20px -10px;
                    }

                    &:active {
                        transform: scale(0.95);
                    }

                    &:focus {
                        border: 1.5px solid grey;
                    }

                    >option {
                        background-color: var(--secondary-color);



                    }

                }

            }
        }
    }
}