/* Global Admin css */
/* Switch toggle  */
.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}

.slider-card-front {
    background-color: #DC3535;
}

.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}

input:checked~.slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked~.slider-card .slider-card-front {
    transform: rotateY(-180deg);
}

input:checked~.slider-card {
    transform: translateX(1.5em);
}

input:checked~.slider {
    background-color: #9ed99c;
}

/* upload button  */
.upload-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    align-items: center;
    flex-direction: column;
    width: 220px;

    >.upload-btn {
        display: flex;
        padding: 6px 30px;
        border: none;
        background-color: darkgoldenrod;
        border-radius: 10px;
        color: #fff;
        align-self: self-start;
        justify-content: flex-start;
        gap: 4px;
    }
}








.headerwithsearch {
    display: flex;
    gap: 5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;



    >.searchwithref {
        display: flex;
        gap: 1rem;

        >.export-btn {
            >.button {
                text-decoration: none;
                line-height: 1;
                border-radius: 1.5rem;
                overflow: hidden;
                position: relative;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
                background-color: #fff;
                color: #121212;
                border: none;
                cursor: pointer;


                >.button-decor {
                    position: absolute;
                    inset: 0;
                    /* background-color:  #00ad54; */
                    background-color: #222;
                    transform: translateX(-100%);
                    transition: transform .3s;
                    z-index: 0;
                }

                >.button-content {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    position: relative;
                    overflow: hidden;

                    .button__icon {
                        width: 48px;
                        height: 35px;
                        /* background-color:  #00ad54; */
                        background-color: #222;
                        display: grid;
                        place-items: center;
                        color: white;
                    }

                    .button__text {
                        display: inline-block;
                        transition: color .2s;
                        padding: 1px 1.1rem 2px;
                        padding-left: .75rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 150px;
                    }

                }



                &:hover .button__text {
                    color: #fff;
                }

                &:hover .button-decor {
                    transform: translate(0);
                }
            }
        }

        >.inputwitlogo {

            display: flex;
            background-color: aliceblue;
            align-items: center;


            border-radius: 20px;
            padding: 5px 8px;

            >svg {
                font-size: 1.8rem;

            }

            >input {
                background-color: transparent;
                border: none;
                outline: none;
                padding-left: 3px;

            }


        }

        /* Refresh */
        .rbtn {
            color: white;
            background-color: #222;
            font-weight: 500;
            border-radius: 0.5rem;
            font-size: 0.9rem;
            line-height: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            text-align: center;
            margin-right: 0.5rem;
            display: inline-flex;
            align-items: center;
            border: none;
        }

        .rbtn:hover {
            background-color: #333;
        }

        .rbtn svg {
            display: inline;
            width: 1.3rem;
            height: 1.3rem;
            margin-right: 0.75rem;
            color: white;
        }

        .rbtn:focus svg {
            animation: spin_357 0.5s linear;
        }

        @keyframes spin_357 {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


    }
}



.content-admin {
    width: 85%;
    padding: 2rem;
    /* background-color: #e3ecf4; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(33, 142, 188, 0.12) 0px -12px 30px, rgba(21, 75, 122, 0.12) 0px 4px 6px, rgba(29, 94, 146, 0.17) 0px 12px 13px, rgba(37, 144, 171, 0.09) 0px -3px 5px;
    background-color: var(--secondary-color);
    border: 0.1px solid black;
    border-radius: 10px;
}

/* admin button  */
.adminaddbtn {

    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 175px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;

    .button,
    .button__icon,
    .button__text {
        transition: all 0.3s;
    }

    >.button__text {
        transform: translateX(25px);
        color: var(--font-color);
        font-weight: 600;
    }

    >.button__icon {
        position: absolute;
        transform: translateX(130px);
        height: 100%;
        width: 39px;
        background-color: var(--bg-color-sub);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bg-primary);
    }

    >.svg {
        width: 20px;
        stroke: var(--main-color);
    }

    &:hover {
        background: var(--bg-color);
    }

    &:hover .button__text {
        color: transparent;
    }

    &:hover .button__icon {
        width: 170px;
        transform: translateX(0);
    }

    &:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px var(--main-color);
    }
}

/* btn end  */

/* ADD DIAMONS  */

#addDiamond {
    min-height: 100vh;
    justify-content: center;

    >form {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        >.all-controls {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;

            >.form-con {
                display: flex;
                flex-direction: column;
                width: 220px;

                >span {
                    color: rgb(27, 26, 26);
                    font-weight: 600;
                }

                .ctinput {
                    max-width: 200px !important;
                    margin-right: 5px;
                }

                >input[type="file"] {
                    border: 1.5px solid lightgrey;
                    background-color: white;

                    &::-webkit-file-upload-button {
                        background-color: var(--secondary-color);
                        border-radius: 6px;
                        border: 1.5px solid lightblue;

                    }
                }

                >input,
                .ctinput,
                >select {

                    width: 100%;
                    max-width: 220px;
                    height: 45px;
                    padding: 12px;
                    border-radius: 5px;
                    border: 1.5px solid lightgrey;
                    outline: none;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                    box-shadow: 0px 0px 20px -18px;

                    &:hover {
                        border: 1.5px solid lightgrey;
                        box-shadow: 0px 0px 20px -10px;
                    }


                    &:active {
                        transform: scale(0.95);
                    }

                    &:focus {
                        border: 1.5px solid grey;
                    }

                    >option {
                        background-color: var(--secondary-color);
                    }

                }

            }

            >.file-upload-form {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;

                .file-upload-label input {
                    display: none;
                }

                .file-upload-label svg {
                    height: 40px;
                    fill: rgb(82, 82, 82);
                    margin-bottom: 10px;
                }

                .file-upload-label {
                    cursor: pointer;
                    /* background-color: #ddd; */
                    background-color: white;
                    padding: 20px 50px;
                    border-radius: 40px;
                    border: 2px dashed rgb(82, 82, 82);
                    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
                }

                .file-upload-design {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .browse-button {
                    background-color: rgb(82, 82, 82);
                    padding: 5px 15px;
                    border-radius: 10px;
                    color: white;
                    transition: all 0.3s;
                }

                .browse-button:hover {
                    background-color: rgb(14, 14, 14);
                }
            }
        }
    }

    @media all and (max-width: 767px) {
        >form {
            >.all-controls {
                justify-content: center;
                width: 100%;

                .form-con {
                    /* width: 100%; */
                    /* width: 500px; */
                    /* border: 2px solid black; */
                    width: 100%;

                    >input,
                    .ctinput,
                    >select {
                        width: 100% !important;

                        max-width: unset;
                    }

                    .ctinput {
                        min-width: 90%;
                    }
                }
            }
        }

        .file-upload-form {
            flex-wrap: wrap;
            gap: 1rem;
        }


    }
}




/* DASHBOARD */
#dashboard {
    /* height: 100vh; */
    max-height: 100%;
    /* overflow: scroll; */


    >.all-cards {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        flex-wrap: wrap;

        >.user-card {
            display: flex;
            background-color: white;
            width: 280px;
            height: 160px;
            border-radius: 10px;
            justify-content: space-evenly;


            >.left {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: 40%;

                >svg {
                    font-size: 3rem;
                    background-color: #222;
                    color: white;
                    border-radius: 50%;
                    padding: 10px;
                }

            }

            >.right {
                flex-basis: 60%;
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                justify-content: space-around;
                padding: 2rem 0 2rem 2rem;

                >h2 {
                    font-weight: 600;
                    font-size: 2.5rem;
                }

                >span {
                    cursor: pointer;
                    text-decoration: underline;
                    font-weight: 500;

                }
            }
        }
    }

    /* .paymentChart{
        margin-top: 6rem;
        display: flex;
        width: 400px;
        height: 400px;
    } */

    .chart-container {
        margin-top: 5rem;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid black; */
        width: 100%;

        >.chart1 {
            width: 60%;
            display: flex;
            justify-content: center;
        }

        >.chart2 {
            /* border: 10px solid black; */
            width: 40%;

            display: flex;
            justify-content: center;
            height: 350px;


        }
    }
}

/* CUSTOMER */
#customer {
    min-height: 100vh;
    height: 100%;

    >.container {

        /* max-width: 1000px; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        .col-1 {
            width: 8%;
            text-align: center;
            /* width: 20px; */
        }

        .col-2 {
            width: 20%;

            /* width: 70px; */
        }

        .col-3 {
            width: 22%;
            overflow: hidden;
            /* width:100px; */
        }

        .col-4 {
            width: 14%;
            /* width:30px ; */
        }

        .col-5 {
            width: 14%;
            /* width:30px ; */
        }

        .col-6 {
            width: 7%;
            /* width:30px ; */
        }
        .col-7 {
            width: 9%;
            /* width:30px ; */
        }

        .col-8 {

            width: 6%;
            text-align: center;
            gap: 1rem;
            display: flex;
            justify-content: center;

            >svg {
                cursor: pointer;
            }
        }

        >h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;

            small {
                font-size: 0.5em;
            }
        }

        >.responsive-table {
            overflow-x: scroll;

            >.table-header {
                background-color: var(--table-header);
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                font-weight: 600;
                display: flex;
                padding: 15px 10px;
                margin-bottom: 15px;
                color: var(--table-row);
            }

            >.table-row {
                border-radius: 3px;
                padding: 15px 10px;
                /* width: fit-content; */
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                background-color: var(--table-row);
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                /* flex-wrap: wrap; */
            }


        }

        >.pagination {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }

        @media all and (max-width: 767px) {

            /* #customer {
                width: 100%;

                >.container {
                    max-width: unset !important;
                }
            } */

            >.responsive-table {
                padding-left: unset;
                width: 100%;
                overflow: scroll;

                >.table-row {
                    width: 900px;

                }

                >.table-header {
                    width: 900px;
                    text-align: center !important;

                }

                .col-1 {
                    width: unset;
                    flex-basis: 5%;
                    text-align: start;

                }

                .col-2 {
                    width: unset;
                    /* text-align: start   ; */
                    text-align: start;
                    flex-basis: 18%;
                }

                .col-3 {
                    width: unset;
                    flex-basis: 24%;
                    text-align: start;
                }

                .col-4 {
                    width: unset;
                    flex-basis: 14%;
                    text-align: start;
                }

                .col-5 {
                    width: unset;
                    flex-basis: 14%;
                    text-align: start;
                }

                .col-6 {
                    width: unset;
                    flex-basis: 14%;
                    text-align: start;
                }

                .col-7 {
                    width: unset;
                }

                flex-basis: 9%;
                text-align: start;

                svg {
                    font-size: 18px;
                }
            }
        }

        li {
            display: block;
        }

    }
}

/* Diamonds */
#diamonds {
    min-height: 100vh;

    >.headingWithAdd {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;


        >h2 {
            color: var(--secondary-color);
            font-family: 'Ubuntu', sans-serif;
            font-weight: 800;
            letter-spacing: 5px;
            padding-bottom: 4px;
            font-size: 40px;
            text-shadow: -1px 2px 0 #222, 5px 2px 0 #222, 3px -1px 0 #222, -1px -1px 0 #222;
        }

        >a {
            flex-basis: 20%;

            >.btnAddDiamond {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                transition-duration: .3s;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
                /* background-color: #4e99e9; */
                background-color: #222;

                >.sign {
                    width: 100%;
                    transition-duration: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >svg {
                        width: 17px;
                        font-weight: bold;
                        color: white;

                    }
                }

                >.text {
                    position: absolute;
                    right: 0%;
                    width: 0%;
                    opacity: 0;
                    color: white;
                    font-size: 1.2em;
                    font-weight: 400;
                    transition-duration: .1s;
                }

                &:hover {
                    width: 140px;
                    border-radius: 40px;
                    transition-duration: .3s;
                }

                &:hover .sign {
                    width: 30%;
                    transition-duration: .3s;
                    padding-left: 20px;
                }

                &:hover .text {
                    opacity: 1;
                    width: 70%;
                    transition-duration: .1s;
                    padding-right: 10px;
                }

                &:active {
                    transform: translate(2px, 2px);
                }
            }
        }

    }

    >.container {

        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        .col-1 {
            flex-basis: 3%;
            text-align: center;

        }

        .col-2 {
            flex-basis: 3%;
            text-align: center;
        }

        .col-3 {
            flex-basis: 29%;
            /* padding: 0 10px; */
            text-align: center;
        }

        .col-4 {
            flex-basis: 15%;
            text-align: center;
        }

        .col-5 {
            flex-basis: 10%;
            text-align: center;
        }

        .col-6 {
            flex-basis: 10%;
            text-align: center;
        }

        .col-7 {
            flex-basis: 10%;
            text-align: center;
        }

        .col-8 {
            flex-basis: 10%;
            text-align: center;
        }

        .col-9 {

            flex-basis: 10%;
            /* text-align: center; */
            gap: 1rem;
            display: flex;
            justify-content: center;
            /* justify-content: center; */

            >svg {
                cursor: pointer;
            }
        }



        >h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;

            small {
                font-size: 0.5em;
            }
        }

        >.responsive-table {
            overflow-x: scroll;

            >.table-header {
                background-color: var(--table-header);
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                font-weight: 600;
                display: flex;
                padding: 10px 10px;
                margin-bottom: 15px;
                align-items: center;
                color: var(--table-row);

            }

            >.table-row {
                border-radius: 3px;
                padding: 8px 10px;
                /* width: fit-content; */
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                background-color: var(--table-row);
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                /* flex-wrap: wrap; */
                align-items: center;
            }


        }

        >.pagination {
            display: flex;
            justify-content: center;

        }

        @media all and (max-width: 867px) {
            >.headerwithsearch {
                /* flex-wrap: wrap; */

                >.searchwithref {

                    /* flex-wrap: wrap; */
                    >.rbtn {
                        display: none;
                    }

                    >.export-btn {

                        /* width: 50px !important; */
                        /* border: 2px solid red; */
                        >.button {
                            font-size: 10px;

                        }

                        .button__icon {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }

            >.headingWithAdd {
                display: flex;
                justify-content: center;
                border-bottom: 1px solid black;


                >h2 {
                    color: var(--secondary-color);
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 800;
                    letter-spacing: 5px;
                    padding-bottom: 4px;
                    font-size: 40px;
                    text-shadow: -1px 2px 0 #222, 5px 2px 0 #222, 3px -1px 0 #222, -1px -1px 0 #222;
                }

                >a {
                    flex-basis: 20%;

                    >.btnAddDiamond {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 40px;
                        height: 40px;
                        border: none;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        transition-duration: .3s;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
                        /* background-color: #4e99e9; */
                        background-color: #222;

                        >.sign {
                            width: 100%;
                            transition-duration: .3s;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            >svg {
                                width: 17px;
                                font-weight: bold;
                                color: white;

                            }
                        }

                        >.text {
                            position: absolute;
                            right: 0%;
                            width: 0%;
                            opacity: 0;
                            color: white;
                            font-size: 1.2em;
                            font-weight: 400;
                            transition-duration: .1s;
                        }


                    }
                }
            }

            >.responsive-table {
                padding-left: unset;
                width: 100%;
                overflow: scroll;

                >.table-row {
                    width: 900px !important;

                }

                >.table-header {
                    width: 900px;
                    text-align: center !important;
                    /* background-color: #2d8cf0 !important; */

                }

                .col-1 {
                    width: unset;
                    flex-basis: 5%;
                    text-align: start;

                }

                .col-2 {
                    width: unset;
                    /* text-align: start   ; */
                    text-align: start;
                    flex-basis: 5%;
                }

                .col-3 {
                    width: unset;
                    flex-basis: 23%;
                    text-align: start;
                }

                .col-4 {
                    width: unset;
                    flex-basis: 11%;
                    text-align: start;
                }

                .col-5 {
                    width: unset;
                    flex-basis: 11%;
                    text-align: start;
                }

                .col-6 {
                    width: unset;
                    flex-basis: 11%;
                    text-align: start;
                }

                .col-7 {
                    width: unset;
                    flex-basis: 11%;
                }

                .col-8 {
                    width: unset;
                    flex-basis: 11%;
                }

                .col-9 {
                    width: unset;

                    flex-basis: 11%;
                    text-align: start;
                }

                svg {
                    font-size: 18px;
                }
            }


            /* } */


        }
    }
}


/* Category */
#category {
    min-height: 100vh;
    /* height: 100% */





    .container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        >ul {
            margin-top: 1rem;
            list-style: none;
            display: flex;
            height: 50vh;
            padding-left: 0.3rem !important;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;

            >li {
                position: relative;
                background-color: #23272f;
                color: white;
                width: 300px;
                padding: 0.5rem 1rem;
                display: flex;
                justify-content: space-between;

                svg {
                    cursor: pointer;
                }

            }

            /* >svg{
                cursor: pointer;
                color: white;
            } */
        }

        >.add-category {
            align-self: center;
            margin-top: 10px;
            margin-bottom: 2rem;
            width: 340px;

            >.input-container {
                display: flex;
                /* background: white; */
                border-radius: 1rem;
                background: linear-gradient(135deg, #23272F 0%, #14161a 100%);
                /* box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b; */
                padding: 0.3rem;
                gap: 0.3rem;
            }

            .input-container input {
                border-radius: 0.8rem 0 0 0.8rem;
                background: #23272F;
                box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 10px rgba(255, 212, 59, 0), 0px 0px 10px rgba(255, 102, 0, 0);
                width: 100%;
                flex-basis: 75%;
                padding: 1rem;
                border: none;
                border: 1px solid transparent;
                color: white;
                transition: all 0.2s ease-in-out;
            }

            .input-container input:focus {
                border: 1px solid #FFD43B;
                outline: none;
                box-shadow: inset 0px 0px 10px rgba(55, 102, 0, 0.5), inset 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 10px rgba(255, 102, 0, 0.5);
            }

            .input-container button {
                flex-basis: 25%;
                padding: 1rem;
                background: linear-gradient(135deg, rgb(255, 212, 59) 0%, rgb(255, 102, 0) 100%);
                box-shadow: 0px 0px 1px rgba(255, 212, 59, 0.5), 0px 0px 1px rgba(255, 102, 0, 0.5);
                font-weight: 900;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                color: #23272F;
                border: none;
                width: 100%;
                border-radius: 0 1rem 1rem 0;
                transition: all 0.2s ease-in-out;
            }

            .input-container button:hover {
                background: linear-gradient(135deg, rgb(255, 212, 59) 50%, rgb(255, 102, 0) 100%);
                box-shadow: 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 10px rgba(255, 102, 0, 0.5);
            }



        }

        @media (max-width: 700px) {

            >.add-category {
                padding: 0 10px;
            }

            >ul {
                justify-content: center;
                align-items: center;
                flex-wrap: unset;
            }

            .input-container {
                /* flex-direction: column; */
            }

            .input-container input {
                border-radius: 0.8rem;
            }

            .input-container button {
                padding: 1rem;
                border-radius: 0.8rem;
            }
        }
    }



}

/* Order */

#order {
    min-height: 100vh;



    >.container {

        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        .col-1 {
            width: 18%;
            /* text-align: center; */
        }

        .col-2 {
            width: 14%;
            /* display: 0 0 auto; */

        }

        .col-3 {
            width: 9%;

        }

        .col-4 {
            width: 9%;

        }

        .col-5 {


            width: 25%;

        }

        .col-6 {

            width: 10%;
            text-align: center;
        }


        .col-7 {

            width: 8%;
            text-align: center;
        }

        .col-8 {

            width: 7%;
            gap: 1rem;
            display: flex;
            justify-content: center;
            /* justify-content: center; */

            >svg {
                cursor: pointer;
            }
        }



        >h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;

            small {
                font-size: 0.5em;
            }
        }

        >.responsive-table {
            overflow-x: scroll;

            >.table-header {
                background-color: var(--table-header);
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                font-weight: 600;
                display: flex;
                color: var(--table-row);
                padding: 15px 10px;
                margin-bottom: 15px;
            }

            >.table-row {
                border-radius: 3px;
                padding: 15px 10px;
                /* width: fit-content; */
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                background-color: var(--table-row);
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                /* flex-wrap: wrap; */
            }


        }

        @media all and (max-width: 787px) {

            >.responsive-table {
                padding-left: unset;
                width: 100%;
                overflow: scroll;

                >.table-row {
                    width: 950px !important;

                }

                >.table-header {
                    width: 950px;
                    text-align: center !important;
                    /* background-color: #2d8cf0 !important; */

                }

                .col-1 {
                    width: unset;
                    flex-basis: 20%;
                    text-align: start;

                }

                .col-2 {
                    width: unset;
                    /* text-align: start   ; */
                    text-align: start;
                    flex-basis: 15%;
                }

                .col-3 {
                    width: unset;
                    flex-basis: 13%;
                    text-align: start;
                }

                .col-4 {
                    width: unset;
                    flex-basis: 8%;
                    text-align: start;
                }

                .col-5 {
                    width: unset;
                    flex-basis: 22%;
                    text-align: start;
                }

                .col-6 {
                    width: unset;
                    flex-basis: 6%;
                    /* text-align: start; */
                }

                .col-7 {
                    width: unset;
                    flex-basis: 8%;
                }

                .col-8 {
                    width: unset;
                    flex-basis: 6%;
                }



                svg {
                    font-size: 18px;
                }
            }


        }
    }
}


/* Feedback */


#feedback {
    min-height: 100vh;

    >.headingWithAdd {
        display: flex;
        justify-content: flex-start;
        /* border-bottom: 1px solid black */



    }

    >.container {

        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        .col-1 {
            flex-basis: 5%;
            text-align: center;
        }

        .col-2 {
            flex-basis: 25%;
            /* padding: 0 10px; */
            /* text-align: center; */
        }

        .col-3 {
            flex-basis: 25%;
            /* text-align: center; */
        }

        .col-4 {
            flex-basis: 10%;
            /* text-align: center; */
        }

        .col-5 {
            flex-basis: 10%;
            /* text-align: center; */
        }

        .col-6 {
            flex-basis: 15%;
            /* text-align: center; */
        }



        .col-7 {

            flex-basis: 10%;
            /* text-align: center; */
            gap: 1rem;
            display: flex;
            justify-content: center;
            /* justify-content: center; */

            >svg {
                cursor: pointer;
            }
        }



        >h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;

            small {
                font-size: 0.5em;
            }
        }

        >.responsive-table {
            overflow-x: scroll;

            >.table-header {
                background-color: var(--table-header);
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                font-weight: 600;
                display: flex;
                padding: 15px 10px;
                color: var(--table-row);
                margin-bottom: 15px;
            }

            >.table-row {
                border-radius: 3px;
                padding: 15px 10px;
                /* width: fit-content; */
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                background-color: var(--table-row);
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                /* flex-wrap: wrap; */
            }


        }

        >.pagination {
            display: flex;
            justify-content: center;

        }

        @media all and (max-width: 767px) {

            >.responsive-table {
                padding-left: unset;
                width: 100%;
                overflow: scroll;

                >.table-row {
                    width: 900px !important;

                }

                >.table-header {
                    width: 900px;
                    text-align: center !important;
                    /* background-color: #2d8cf0 !important; */

                }

                .col-1 {
                    width: unset;
                    flex-basis: 5%;
                    text-align: start;

                }

                .col-2 {
                    width: unset;
                    /* text-align: start   ; */
                    text-align: start;
                    flex-basis: 20%;
                }

                .col-3 {
                    width: unset;
                    flex-basis: 30%;
                    text-align: start;
                }

                .col-4 {
                    width: unset;
                    flex-basis: 11%;
                    text-align: start;
                }

                .col-5 {
                    width: unset;
                    flex-basis: 9%;
                    text-align: start;
                }

                .col-6 {
                    width: unset;
                    flex-basis: 13%;
                    text-align: start;
                }

                .col-7 {
                    width: unset;
                    flex-basis: 11%;
                }



                svg {
                    font-size: 18px;
                }
            }


        }
    }
}


/* General Responsiveness  */

@media all and (max-width: 767px) {
    .headerwithsearch {
        display: flex;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1rem;
        justify-content: center !important;

        >h2 {
            display: none !important;
            text-align: center !important;
            font-weight: 200;
            background-image: linear-gradient(to right, #0380a7, rgb(139, 105, 18));
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 1rem;


        }

        >.searchwithref {
            display: flex;
            gap: 1rem;

            >.inputwitlogo {

                display: flex;
                background-color: aliceblue;
                align-items: center;


                border-radius: 20px;
                padding: 5px 8px;

                >svg {
                    font-size: 1rem;

                }

                >input {

                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding-left: 3px;

                }


            }

            /* Refresh */
            .rbtn {
                /* display:  none !important; */
                color: white;
                height: fit-content !important;
                /* background-color: #222; */
                background-color: var(--table-header);
                font-weight: 500;
                border-radius: 0.5rem;
                font-size: 0.5rem !important;
                line-height: 1.5rem !important;
                padding-left: 0.5rem !important;
                padding-right: 0.5rem !important;
                padding-top: 0.2rem !important;
                padding-bottom: 0.2rem !important;
                text-align: center;
                margin-right: 0.5rem;
                display: inline-flex;
                align-items: center;
                border: none;


            }

            .rbtn svg {
                display: inline;
                width: 0.6rem !important;
                height: 0.6rem !important;
                margin-right: 0.75rem;
                color: white;
            }

            @keyframes spin_357 {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }


        }



    }

    .switch {
        --circle-dim: 0.7em;
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 2.8em;
        height: 1.2em;
    }

    .content-admin {


        /* margin-top: 60px; */
        flex-wrap: wrap;
        /* background-color: var(--secondary-color); */

        width: 100%;

        padding: 0.2rem;
        text-align: center;


    }
}

.customer-drawer {
    height: 100vh !important;
}

#main-drawer {
    /* background-color: #dedede; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(33, 142, 188, 0.12) 0px -12px 30px, rgba(21, 75, 122, 0.12) 0px 4px 6px, rgba(29, 94, 146, 0.17) 0px 12px 13px, rgba(37, 144, 171, 0.09) 0px -3px 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--third-color);
    /* border-radius: 10px; */
    height: fit-content;
    /* min-height: 100vh; */

    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */

}

.css-6od3lo-MuiChip-label,
.css-1jzq0dw-MuiChip-label {
    overflow: unset !important;
}


.admin-header {

    color: var(--secondary-color);
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid rgb(19, 17, 17);
    font-weight: 800;
    letter-spacing: 5px;
    padding-bottom: 12px;
    font-size: 40px;
    text-shadow: -1px 2px 0 #222, 5px 2px 0 #222, 3px -1px 0 #222, -1px -1px 0 #222;
}