header {
    display: flex;
    width: 100vw;
    align-items: center;
    color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 200;
    /* background-color: var(--secondary-color); */
    /* background-color: #1d1e23; */

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px 512px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px 18px inset;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.visible {
    /* display: flex; */

    top: 0;
    transition: top 0.4s ease-out;
}

.hidden {
    /* display: none; */
    top: -80px;
    transition: top 0.4s ease-out;
}

header .left {
    flex-basis: 20%;
    text-align: center;
}

.middle {
    display: flex;
    flex-basis: 50%;
    gap: 1rem;

    >li {
        display: block;
        height: 100%;
        font-size: 18px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0 0 15px #8e54e9;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        text-align: center;
        padding: 0 10px;

        >a {
            text-decoration: none;
        }

    }
}

.rights {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    gap: 3rem;


    >.cartBtn {

        background-color: transparent;
        border-radius: 50%;
        padding: 0.4rem;
        border: none;


        >a {
            text-decoration: none;
            display: flex;
            color: #fff;

            >svg {
                font-size: 1.8rem;


            }

            >h4 {
                font-size: 1.4rem;

            }
        }
    }

    >.menu-title {
        list-style: none;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        display: inline-block;

        >.drop-con {

            position: absolute;
            bottom: -1.4rem;
            font-size: 1rem;
            left: -30px;
            display: none;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius: 10px;


            >a {
                color: #fff;
                text-decoration: none;


                &:hover {
                    color: #0380a7;
                }

            }

        }

        &:hover .drop-con {
            display: block;
        }

        >a {
            text-decoration: none;
            color: #fff;
            font-size: 1.3rem;


            &:hover {
                color: #0380a7 !important;
            }
        }

        >.userlogo {

            border: 2px solid white;
            border-radius: 50%;
            text-align: center;
            width: 40px;
            height: 40px;


            &:hover {

                color: #0380a7;
                border-color: #0380a7;
            }
        }

        >.submenu {
            position: absolute;
            top: 45px;
            left: -30px;
            padding: 0.5rem 0;
            display: none;
            background-color: black;
            text-align: center;
            border-radius: 10px;
            transition: all 0.4s;
            width: 100px;


            >li {
                list-style: none;
                line-height: 2;
                cursor: pointer;
                text-transform: uppercase;
                transition: all 0.2s;

                >a {
                    text-decoration: none;

                }

                &:hover {
                    background-color: var(--bg-primary);
                    border-radius: 10px;
                }
            }


        }
    }



}






/* SideBar */
.sidebar {
    height: 100%;
    z-index: 50;
    width: 100%;
    justify-content: center;
    display: flex;
    position: fixed;
    flex-direction: column;
    transform: translateX(-200%);
    transition: all 0.4s;
    background-color: var(--bg-secondary);
    padding-top: 2rem;

    >.middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.btn-txt {
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
        }



    }

    >.right {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }
    }




}

.showsidebar {
    transform: translateX(0);
    /* position: sticky; */
}

.mobile-nav {
    display: none;
}


/* Responsive  */

@media screen and (max-width:773px) {

    header .middle,
    header .right {
        display: none;
    }

    #mynav {
        width: 100vw;

    }

    .mobile-nav {
        display: flex;
        flex-basis: 100%;
        justify-content: end;
        padding-right: 1rem;
        font-size: 25px;
    }

    #join-btn {
        display: none !important;

    }

    .rights {
        display: none;
    }
}

#join-btn {
    display: flex;
    align-self: center;
    justify-content: center;
}