#admin{
    >header{
        background-color: rgb(99, 85, 49);
        display: flex;
        height: 60px;
        /* position: sticky; */
       >.left{
        display: flex;
        flex-basis: 50%;
       gap: 1rem;
       padding-left: 2rem;
      >svg{
        font-size: 1.6rem;
        cursor: pointer;
      }
       }
       >.right{
        flex-basis: 50%;
        gap: 1rem;
       justify-content: flex-end;
       padding-right: 2rem;
        >input{
            border: none;
            outline: none;
            border-radius: 20px;
           width: max-content;
           padding-left: 10px;
        }
        >svg{
            font-size: 1.6rem;
            cursor: pointer;
        }
        >img{
            width:30px;
            height: 30px;
            border-radius: 50%;
           cursor: pointer;
        }
       }


    
    }
    
    >.left-side{
        background-color: black;
        width: 200px;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.5s;
        margin-top: 60px;
        position: fixed;

        >ul{
            >li{
                list-style: none;
                padding: 1rem;
                padding-left: unset;
                border-bottom: 1px solid white;
                >a{
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }
       }
     >#showslide{
        transform: translateX(-10%);
     }  
}