#cart {
    .empty-cart {
        text-align: center;
        margin: 3em;

        >.go-to-buy {

            padding: 6px 10px;
            background-color: green;
            border-radius: 10px;
            outline: none;
            border: none;
            margin-top: 2rem;


        }
    }

    margin-top: 5rem;

    >main {

        >.product-list {

            >h2 {
                padding-left: 40px;
                color: var(--third-color);
                border-bottom: 1px solid;

            }

            max-width: 1000px;

          margin: auto;

            .col-1 {
                flex-basis: 5%;
               
            }

            .col-2 {
                text-align: center;
                flex-basis: 45%;
                display: flex;
                justify-content: space-around   ;
            }

            .col-3 {
                flex-basis: 10%;
                text-align: center;

                >svg {
                    font-size: 1.4rem;
                }

            }

            .col-4 {
                flex-basis: 10%;
                text-align: center;

            }

            .col-5 {
                flex-basis: 10%;
                text-align: center;

            }
            .col-5 {
                flex-basis: 10%;
                text-align: center;

            }
            .col-6 {
                flex-basis: 10%;
                text-align: center;

            }

            .deletecustomer {
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }

            >h2 {
                font-size: 26px;
                margin: 20px 0;
                text-align: center;

                small {
                    font-size: 0.5em;
                }
            }

            >.responsive-table {
            padding: unset !important;


                >li {
                    border-radius: 3px;
                    padding: 25px 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }

                >.table-header {
                    background-color: #95A5A6;
                    font-size: 18px;
                    text-transform: uppercase;
                    letter-spacing: 0.03em;
                    font-weight: 600;
                }

                >.table-row {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

                }


            }

            @media all and (max-width: 767px) {
                #cart {}

                >.responsive-table {
                    padding: unset;
                    width: 100vw;

                    .table-header {
                        display: none;
                        


                    }

                    .table-row {
                        width: 100%;
                       
                    }

                    >li {
                       /* background-color: aqua !important; */
                       /* gap: 10px; */
                       padding: unset !important;
                       margin: auto;

                        
                    }



                    .col {

                        /* flex-basis: 100%; */

                    }

                    .col {
                        /* display: flex; */


                        &:before {
                            color: #6C7A89;
                            padding-right: 10px;
                            content: attr(data-label);
                            flex-basis: 50%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}