#cart {
    padding: 1rem 14rem;
    background-color: var(--secondary-color);

    .empty-cart {
        text-align: center;
        margin: 3em;

        >.go-to-buy {

            padding: 6px 10px;
            background-color: green;
            border-radius: 10px;
            outline: none;
            border: none;
            margin-top: 2rem;
        }
    }

    margin-top: 5rem;

    >main {

        >.product-list {

            >h2 {
                padding-left: 40px;
                color: var(--third-color);
                border-bottom: 1px solid;

            }

            /* max-width: 1000px; */



            .col-1 {
                flex-basis: 5%;

            }

            .col-2 {
                text-align: center;
                flex-basis: 35%;
                gap: 1rem;
                /* display: flex; */

            }

            .col-3 {
                flex-basis: 15%;
                text-align: center;

                >svg {
                    font-size: 1.4rem;
                }

            }

            .col-4 {
                flex-basis: 15%;
                text-align: center;

            }

            .col-5 {
                flex-basis: 10%;
                text-align: center;

            }

            .col-5 {
                flex-basis: 10%;
                text-align: center;

            }

            .col-6 {
                flex-basis: 10%;
                text-align: center;

            }

            .deletecustomer {
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }

            >h2 {
                font-size: 26px;
                margin: 20px 0;
                text-align: center;

                small {
                    font-size: 0.5em;
                }
            }

            >.responsive-table {
                padding: unset !important;

                >li {
                    border-radius: 3px;
                    padding: 25px 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }

                >.table-header {
                    background-color: #212529;
                    color: #ffffff;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 0.03em;
                    font-weight: 600;
                    /* justify-content: center; */
                }

                >.table-row {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                    align-items: center;
                    margin: 5px 0;
                }


            }

            @media all and (max-width: 767px) {


                >.responsive-table {

                    overflow-x: scroll !important;

                    .table-header {
                        /* padding: 0 1rem; */
                        /* display: none; */
                        width: 600px !important;
                        /* background-color: red !; */
                        /* padding: 1rem 0 !important; */
                        font-size: 14px;
                        padding: 0.8rem 0.5rem !important;

                        .orderBtn {
                            padding: 0.2rem 0.5rem !important;
                            font-size: 0.7rem;

                        }
                    }

                    .table-row {
                        width: 600px !important;
                        font-size: 15px;
                    }

                    >li {
                        /* background-color: aqua !important; */
                        /* gap: 10px; */
                        padding: unset !important;
                        margin: auto;
                    }



                    .col {

                        /* flex-basis: 100%; */

                    }

                    .col {
                        /* display: flex; */



                    }
                }
            }
        }
    }


}

@media all and (max-width: 767px) {
    #cart {
        padding: 1rem 0.5rem !important
    }
}


@media screen and (max-width : 1081px) {

    #cart {
        padding: 1rem 3rem;
    }
}